<div class="profile">
  <ion-menu side="end" content-id="main-content" menuId="sidebar" >
      <ion-toolbar translucent>
        <ion-title class="sidebar--title">Ajustes</ion-title>
      </ion-toolbar>
    <ion-content >
      <ion-list lines="none" class="sidebar">
        <ion-item>
          <ion-label (click)="clickConfigList(1)">Ajustes</ion-label>
        </ion-item>
          <ion-item>
            <ion-label (click)="clickConfigList(2)">Ajustes</ion-label>
          </ion-item>
          <ion-item>
            <ion-label (click)="clickConfigList(3)">About Us</ion-label>
          </ion-item>
          <ion-item>
            <ion-label (click)="clickConfigList(4)">Sair</ion-label>
          </ion-item>
      </ion-list>
      <img src="../../../../assets/images/LOGO.svg" alt="Logo" class="logo">
    </ion-content>
  </ion-menu>
  <div class="background"></div>
  <img class="detail" src="../../../../assets/images/FEED/Grupo 19.svg">
    <div class="container">
      <header>
      <div class="container--header">
        <ion-avatar class="user--avatar">
          <img [src]="myUser?.imageUrl || '../../../../assets/users/03'" alt="" />
        </ion-avatar>
        <button class="hamburguerButton" (click)="openMenu()" id="main-content">
          <mat-icon>
            menu
             <ion-menu-button>
             </ion-menu-button>
            </mat-icon>
        </button>
      </div>
        <div class="user--info">
          <span class="user--info--name">
            {{myUser?.name}}
          </span>
          <span class="user--info--role">
            {{myUser?.role}}
          </span>
          <span class="user--info--public">
            NOTAS PÚBLICAS
          </span>
        </div>
      </header>

        <main>
          <ng-container *ngFor="let post of myPostsits">
            <div class="feed-item">
              <app-feed-item [postIt]="post"></app-feed-item>
            </div>      
          </ng-container>
        </main>
    </div>
</div>