<div class="login">
  <img class="background" src="../../../assets/images/Imagem 5.png">

  <img class="detail" src="../../../assets/images/Grupo 19.svg">

  <div class="container">
    <img src="../../../assets/images/LOGO.svg">

    <div class="container--inputs">
    <span>E-mail</span>
    <input type="text" [(ngModel)] = "loginPayload.email">
    <span>Senha</span>
    <input type="password" [(ngModel)] = "loginPayload.password">
    </div>

    <ion-button (click)="login()">Confirmar</ion-button>
  
    <p>Não tem conta? <a href="">Cadastre-se!</a></p>
  
  </div>
</div>
