.clique{
  //margin-top: 2rem; //% em rem(2x16px) px vh vw
  margin: auto;
}

ion-datetime{
  margin: auto;
}

#frutas{
  margin: auto;
}

ion-img{
  width: 50vw;
  height: 50vh;
  margin: auto;
}

ion-accordion-group{
  margin: auto;
}