<ion-toolbar>
  <ion-title size="large"> Desafio em aula - Accordion com exemplos dados em aula</ion-title>
</ion-toolbar>

<ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>Botão</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-button class="clique" size="large" fill="outline">
        CLIQUE!
      </ion-button>
    </div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label>Calendário</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-datetime></ion-datetime>
    </div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label>Selecione</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-select id="frutas" interface="action-sheet" placeholder="Select a fruit">
        <ion-select-option>Abacaxi</ion-select-option>
        <ion-select-option>Laranja</ion-select-option>
        <ion-select-option>Uva</ion-select-option>
        <ion-select-option>Melancia</ion-select-option>
      </ion-select>
    </div>
  </ion-accordion>
  <ion-accordion value="forth">
    <ion-item slot="header" color="light">
      <ion-label>Imagem</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-img
        src="https://pbs.twimg.com/media/EwHaSILWQAQCWCD.jpg">
      </ion-img>
    </div>
  </ion-accordion>
</ion-accordion-group>
    
